extends layout

block content
  h1= title

  div.redislist
    ul
      each val in values
        li= val

  div.redisform
    form(name="redis-form", action="/redis", method="post")
      input(type="text", name="test")
      input(type="submit", value="submit")